<%= form_for(task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div class="form-group">
    <%= label_tag :completed %>:
    <%= check_box_tag "Task completed?" %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
